name: Build and Deploy to IIS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore NuGet packages
      run: nuget restore PartsUnlimited.sln

    - name: Build solution
      run: msbuild PartsUnlimited.sln /p:Configuration=Release

    - name: Restart IIS Site
      run: 
        Import-Module WebAdministration -SkipEditionCheck
        Stop-WebSite -Name "PartsUnlimitedGithubActions"
        Start-WebSite -Name "PartsUnlimitedGithubActions"

    - name: Restart IIS Site
      run: |
        Import-Module WebAdministration
        Stop-WebSite -Name "PartsUnlimitedGitHubActions"
        Start-WebSite -Name "PartsUnlimitedGitHubActions"
