name: SAST

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  security-scan:
    name: Security Scan (CodeQL)
    runs-on: windows-latest

    permissions:
      security-events: write
      contents: read

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: csharp

    - name: Build for CodeQL
      run: msbuild PartsUnlimited.sln /p:Configuration=Release

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
