name: SAST - CodeQL

on:
  push:
    branches: [ "bug-fixes", "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  sast:
    runs-on: windows-latest

    permissions:
      security-events: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: csharp

      - name: Restore NuGet packages
        run: nuget restore PartsUnlimited.sln
        
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Build solution
        run: msbuild PartsUnlimited.sln /p:Configuration=Release
        
      - name: Analyze
        uses: github/codeql-action/analyze@v3
